link{:rel => "stylesheet/less", :href => "/css/search.less", :type => "text/css"}

p
  | e-Ndex へ ようこそ.
  br/
  | タイトルをベースとした自動登録をベースとした電子書籍のソーシャルインデックスサービスです.
p 現在、保管されている電子書籍は
form#search{:action => "/search", :method => "get"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}

section#feeds
  header
    h2 新着一覧
